body {
    background-color: #242424
}
a{
    color: #E4E0D5
}
.purple{
    background-color: #736B92;
}
.black{
    background-color: #242424;
}
.white{
    background-color: #E4E0D5;
}

#rect1{
    position: absolute;
    width: 100%;
    height: 540px;
    left: 0%;
    top: 0px;
    z-index: 1;
}

#title {
    position: absolute;
    width: 300px;
    height: 36px;
    left: 4.16%;
    top: 34px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E4E0D5;
}

#menu {
    position: absolute;
    left: 4.16%;
    top: 55px;

    font-weight: 700;
    font-size: 20px;
    color: #E4E0D5;
}

#messages {
    border-collapse: collapse;
    table-layout: fixed;
    width: 310px;

    font-weight: 700;
    font-size: 20px;
    color: #E4E0D5;

    top: 555px;
    margin-left: auto;
    margin-right: auto;
}

#sitelogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 938px;
}

#header{
    margin:0px; 
    height: 200px;
    line-height:200px;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #E4E0D5;
}

#enterinfo{
    font-weight: 700;
    font-size: 20px;
    color: #E4E0D5;

    margin-left: auto;
    margin-right: auto;
}