<html>
    <head>
        <title>
            jasmine tan's forum
        </title>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="description" content="The homepage of a forum by Jasmine Tan.">
    </head>
    <body>
        <div id="rect1" class="purple">
            <h1 id="title">jasmine tan's forum</h1>
            <ul id="menu">
                <li><a href='/'>home</a></li>
                {% if logged_in %}
                <li><a href='/create_message'>create message</a></li>
                <li><a href='/search_message'>search message</a></li>
                <li><a href='/logout'>logout</a></li>
                {% else %}
                <li><a href='/login'>login</a></li>
                <li><a href='/create_user'>create user</a></li>
                {% endif %}
            </ul>
            {% block content %}
            {% endblock %}
    
        </div>
    </body>
</html>