<!DOCTYPE html>
<link rel="stylesheet" href="https://jasminextan.github.io/twitter-clone/static/stylesheet.css">
<html lang="en">
    <head>
        <title>
            Jasmine Tan's Forum
        </title>
        <meta name="description" content="The homepage of a forum by Jasmine Tan.">
    </head>
    <body>
        <div id="rect1" class="purple">
            <h1 id="title">jasmine tan's forum</h1>
            <ul id="menu">
                <li style="display:inline"><a href='/'>home</a></li>
                {% if logged_in %}
                <li style="display:inline"><a href='/create_message'>create message</a></li>
                <li style="display:inline"><a href="/search_message">search message</a></li>
                <li style="display:inline"><a href="/logout">logout</a></li>
                {% else %}
                <li style="display:inline"><a href="/login">login</a></li>
                <li style="display:inline"><a href="/create_user">create user</a></li>
                {% endif %}
            </ul>
        </div>
    </body>
</html>