{% extends 'base.html' %}

{% block title %}
<title>WEBPAGE test run: change password {{username}}</title>
{% endblock %}


{% block content %}
<h1 id="header">Change Your Password</h1>
<form action=/change_password/{{username}} method=POST>
    <table id="enterinfo">
    <tr><td>old password</td><td><input class="textfield" type=text name=oldPassword></td></tr>
    <tr><td>new password</td><td><input class="textfield" type=password name=password1></td></tr>
    <tr><td>repeat new password</td><td><input class="textfield" type=password name=password2></td></tr>
    </table>
    <p></p>
    <span id="buttonspan">
        <input type=submit id="button" value='change password'>
    </span>
</form>

{% if allGood %}
<h1 id="subheader"> Your Password Was Successfully Changed!</h1>
<h2 id="subheader"> Please <a href= "/login">Log In</a> using your new password</h2>
{% endif %}

{% if wrongPass %}
<h1 id="subheader"> You've entered a wrong password</h1>
{% endif %}

{% if repeatPass %}
<h1 id="subheader"> Repeat your password correctly</h1>
{% endif %}

{% if not_your_username %}
<h1 id="subheader"> Not Your Account!</h1>
{% endif %}


{% endblock %}