{% extends 'base.html' %}

{%block content%}
<h2 id="header">Create your user here</h2>
{%if usercreated%}
<p> User created succesfully!</p>
{%else%}
{%if error%}
<p>Username already exists</p>
{%endif%}
{%if typo%}

<p>error</p>
{%endif%}
<form action='/create_user' method="POST">
    <table id="enterinfo">
        <tr>
            <td>username</td>
            <td><input type=text name=username placeholder=username > </td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type=password name=password placeholder=password></td>
        </tr>
        <tr>
            <td>repeat password</td>
            <td><input type=password name=password1 placeholder=repeat password></td>
        </tr>
        <tr>
            <td>age</td>

            <td><input type=text name=age placeholder=age></td>
        </tr>
<tr>
            <td></td>
            <td><input type=submit value='register'></td>
        </tr>
    </table>
</form>
{%endif%}

{% endblock %}