{% extends 'base.html' %}

{% block content %}
<h2>Home</h2>
<p>Welcome to twitter clone.</p>

<table>
    <tr><th>pic</th><th>sender (age)</th><th>message</th><th>created_at</th></tr>
    {% for message in messages %}
    <tr>
        <td><img src="{{message['profpic']}}" width="30" alt="alternatetext"></td>
        <td>{{message['username']}} {{message['age']}}  </td>
        <td>{{message['message']}}</td>
        <td>{{message['created_at']}}  </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
